section{

    background: transparent linear-gradient(180deg, #797979 0%, #CBCBCB 100%) 0% 0% no-repeat padding-box;

    height: 100%;
    width: 100%;
    overflow: auto;

}

section>form{
    width:100%;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    background: none;
    flex-grow: 4;
    height: 100%;
    overflow: auto;
}
section>form>div{
    width:100%;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    /*grid-gap: 1em;*/
    padding-bottom: 1em;

}
section>form>div>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0;
}

h3{
    background: transparent linear-gradient(180deg, #ff0000 0%, #ae0000 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 0.25em;
    width:auto;
    height: 100%;
    border-left: none;
    border-right: none;
    padding-left: 1em;
    margin-left: 5%;
    margin-right: 5%;
    max-height: 1.5em;
}

#submit{

    display: flex;
    flex-direction: row;
    justify-items: start;
    marign: 0;
    margin-top: 2em;
    margin-left:5%;
    width: 20%
}

section>div>input{
    background: transparent linear-gradient(180deg, #FF0000 0%, #800000 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 1em;
    width: 50%;
    color: black;
    margin: 1em;
    line-height: 2.5em;
}

@media only screen and (max-device-width: 420px){

    input[type=checkbox], input[type=radio]
    {
        /* Double-sized Checkboxes */
        -ms-transform: scale(4); /* IE */
        -moz-transform: scale(4); /* FF */
        -webkit-transform: scale(4); /* Safari and Chrome */
        -o-transform: scale(4); /* Opera */
        transform: scale(4);
        width: 10%;
        padding: 10px;
    }

    /* Might want to wrap a span around your checkbox text */
    label
    {
        /* Checkbox text */
        font-size: 110%;
        display: inline;
        text-align: center;
    }

    #submit{
        width: 50%;
    }

    #submit>button{
        display: inline;
    }

}





