section{

    background: transparent linear-gradient(180deg, #797979 0%, #CBCBCB 100%) 0% 0% no-repeat padding-box;
    height: 100%;
    width: 100%;
    overflow: auto;

}

section>form{
    box-sizing: inherit;
    width:100%;
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    padding-left: 1em;
    height: auto;
    overflow: auto;
    margin-bottom: 5%;
}

select{
    margin-left: 8em;
    width: 5em;
}

h3{
    background: transparent linear-gradient(180deg, #ff0000 0%, #ae0000 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 0.25em;
    width:auto;
    height: 100%;
    border-left: none;
    border-right: none;
    padding-left: 1em;
    margin-left: 5%;
    margin-right: 5%;
    max-height: 1.5em;
}


#submit{

    display: flex;
    flex-direction: row;

    margin-top: 0.5em;
    margin-left:5%;
    width: 20%;
}
li{
}
/*1152-1137-5-5=5 */
.glide-area{
    display: flex;
    flex-direction: column;
}

.glide__slide{
    max-width: 30%;
}

.glide__track{

}
.glide__bullets, .glide__arrows{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.glide__arrow{
    width: 20%;
}
.glide__bullet{
    width: 5%;
    height: 1em;
}

li>div>img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

li>div>div{
    height: 50%;
    color: #1A1919;
    margin: 1em;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}



li>div{
    border: 1px solid #800000;
    background: white;
    border-radius: 1em 1em 0 0;
    height: 400px;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2{
    margin-bottom: 0.25em;
    margin-top: 0.5em;
    font-size: 30px;
}

p{
    margin-top:0;
    font-size: 25px;
    margin-bottom: 0.5em;
    max-height: 50%;
    text-overflow: ellipsis;
    display: -webkit-box;

    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media only screen and (max-device-width: 420px){

    #submit{
        width: 50%;
    }

    #submit>button{
        display: inline;
    }

    img{
        margin:0;
    }

    .glide__slide{
        padding: 0 2em;
    }
    .glide-area{
        height: 60%;
    }

    .glide{
        height: 100%;
    }

    .glide__track,.movie-slide{
        height: 80%;
    }

}



