section {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2em;
    padding: 2em;
    overflow: auto;

}

section>div>img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

section>div>div{
    height: 50%;

    /* text-align: left;
    font: normal normal bold 29px/50px Times New Roman;
    letter-spacing: 0px; */

    color: #1A1919;
    margin: 1em;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}



section>div{
    border: 1px solid #800000;
    border-radius: 1em 1em 0 0;
    height: 400px;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.description{
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;

}


.social-section{
    display: flex;
    justify-content: space-between;
    margin-right: 1em;
}


@media only screen and (max-device-width: 420px){
    section{
        grid-template-columns: repeat(2,1fr);
        padding: 1em;
    }

    section>div>img{
        margin: 0;
    }

    section>div>div {
        margin: 0.5em;
        margin-top: 0;
    }

    h2{
        margin-bottom: 0.25em;
        margin-top: 0.5em;
    }

    p{
        margin-top:0;
        font-size: 25px;
        margin-bottom: 0.5em;
        max-height: 50%;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    i{
        font-size: 20px;
    }
}
