section {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 1em;
    overflow: auto;
    background: transparent linear-gradient(180deg, #797979 0%, #CBCBCB 100%) 0% 0% no-repeat padding-box;

}

.profile>div{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    align-items: center;
    padding-top: 1em;
    height: 80%;
    width: 80%;
    object-fit: cover;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #000000;
    max-height: inherit;

}

.profile>div>img{
    /*background: transparent linear-gradient(180deg, #797979 0%, #CBCBCB 100%) 0% 0% no-repeat padding-box;;*/
    /*border: 1px solid #000000;*/
    margin-top:0.5em;
    height: 50%;
    width: 50%;
    object-fit: cover;
    max-height: 3em;
    max-width: 3em;

    /*border-radius: 1em 1em 1em 1em;*/
}

.friends>img{
    margin-bottom:1.5em;
}

.cate{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 100%;


}

p{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    text-align: justify;
    letter-spacing: 0.7px;
    border: 1px solid #800000;
    border-radius: 1em;
    width: 60%;
    height: 2em;
    margin-left: 5%;
    margin-right: 5%;
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-indent: 0.5em;

    align-items: center;
    align-content: center;
}

.description{
    width: 70%;
}

@media only screen and (max-device-width: 420px){

    .profile{
        grid-template-columns: 1fr;
    }
    .profile>div{
        width: 60%;
        height: auto;
    }

    img{
        margin-bottom: 1em;
    }
    h1{
        font-size: 40px;
    }

    div>*{
        margin-top: 0;
    }
    .friends>img{
        margin-bottom: 0.5em;
    }

}


