section.rate-add{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: transparent linear-gradient(180deg, #797979 0%, #CBCBCB 100%) 0% 0% no-repeat padding-box;

    height: 100%;
    width: 100%;
}

form.form-rate{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

    background: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
}

section.write{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;

}

section.write>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #1A1919;
    border-radius: 3em;
    height: 4.5em;
    width: 75%;
    margin-bottom: 10%;
    box-sizing: border-box;

}

section.write>div>div{
    order: -1;

}

section.write>div>input{
    border: hidden;
}

section.article-rate{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
    height: 90%;
}

#Tabula-Rasa{
    font-size: 2em;
    height: 5em;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent linear-gradient(180deg, #800000 0%, #FF0000 100%) 0% 0% no-repeat padding-box;
}


#writing{
    height: 100%;
    width: 90%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #1A1919;
    margin-right: 10%;
}

#writing>textarea{
    border:hidden;
    width: 90%;
    height: 90%;
    margin: 5% 5% 5% 5%;

}

#submit{

    margin-top: auto;
    width: 100%;
    margin-bottom: 0;



    background: none;
    border: none;

}


@media only screen and (max-device-width: 420px){

    form.form-rate{
        flex-direction: column;
        margin-top: 0;
    }

    #Tabula-Rasa {
        width: 100%;
        height: 20%;
    }

    #writing {
    width: 100%;
        height: 90%;
    }
    section.write, section.article-rate{
        width: 100%;
    }
    section.article-rate{
        height: 80%;
    }
    .write>div>input{
        margin-left: 0;
    }

    #write-1{
        margin-top: 0.5em;
    }

    #input-file{
        margin-bottom: 0.5em;
    }

}

