body{
    margin: 0;
}
.container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #1A1919 0%, #585858 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.logo{
    width: 50%;
    text-align: center;
}

.container>div{
    width: 50%;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;

    background: #FFFFFFCC 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 3em;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

button{
    background: transparent linear-gradient(180deg, #FF0000 0%, #800000 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 1em;

    width: 50%;
    border: none;
    color: black;
    margin: 1em;
    line-height: 2.5em;
}

.button-menu{
    background: transparent linear-gradient(180deg, #FF0000 0%, #800000 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 1em;

    width: 3em;
    border: none;
    color: black;
    margin: 1em;
    line-height: 2.5em;
}

input{
    background: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 1em;
    margin: 1em;
    width: 50%;
}




.base-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

nav {
    width: 20vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #1A1919 0%, #585858 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main{
    width: 80vw;
}

nav > img {
    width: 80%;
    margin: 2em auto;
}

a {
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
}

li i {
    font-size: 1em;
}

.button {
    border: 2px solid #800000;
    border-radius: 1em;
    margin-left: 0.5em;
    text-align: center;
    letter-spacing: 0.7px;
    color: white;
    padding: 0.2em;
    width: 60%;
}

ul {
    list-style-type: none;
    color: black;
    font: normal normal normal 30px/34px Times New Roman;
    letter-spacing: 0.7px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: calc(100% - 40px);
}

li{
    text-align: left;
    margin-bottom: 1em;;
}

.fa, .fas{
    width: 1em;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    padding: 1em 2em;
    border-bottom: 1px solid gray;
    background: transparent linear-gradient(180deg, #800000 0%, #FF0000 100%) 0% 0% no-repeat padding-box;
}

.buttons-top{
    display: flex;
    flex-direction: row;
    margin:0;
}

.buttons-top>*, #menu-top{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    color: black;
    border-radius: 1em;
    letter-spacing: 0.1em;
    text-align: center;
    width: 100%;
    margin-left: 1em;
}
.buttons-top>*>i {
    padding: 1em;
}

.logout{
    margin:0;
    margin-left: 1em;
}

.search-bar{
    width: 70%;
}

.search-bar>input{

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 1.5em;
    width: 100%;
    text-align: center;
    color: gray;
    margin: 0;
    box-sizing: border-box;
}

.no-valid{
    border: 3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}

section{

    background: transparent linear-gradient(180deg, #797979 0%, #CBCBCB 100%) 0% 0% no-repeat padding-box;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: auto;

}

.rates>div, .movies>div{
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

#menu-top{
    display: none;
}

@media only screen and (max-device-width: 420px){


    .container{
        flex-direction: column;
    }

    *{
        font-size: 36px;
    }

    .login-container, .logo {
        width: 100vw;
        min-width: 80%;
        align-self: center;
    }

    form {
        margin: auto;
        width: 100%;
    }

    img {
        height: 7em;
        margin: 2em;
    }

    .remember{
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
        transform: scale(2);
        padding: 10px;
    }

    .menu-left-ul{
        width: 100%;
    }

    li>a.button{
        margin-left:0;
        width:60%;
        overflow: visible;
    }

    header{
        padding: 0.5em 1em;
    }
    header>.search-bar{
        width: 75%;
    }

    .buttons-top{
        width: 3em;
        display: none;
        flex-direction: column;
    }

    .buttons-top>*{
        margin-top: 0.5em;
        text-align: center;

    }

    #menu-top{
        display: inline-block;
        justify-self: flex-end;
        width: 3em;
        justify-content: center;
    }
    #menu-top>*{
        font-size:2em;
        padding-top:20%;
    }
    .buttons-top-all-all{
        display: flex;
        width: 3em;
        align-content: flex-end;
    }



}
